/* Blog Author info */
.blog-author-info {
  position: relative;
  height: 5.2rem;
}

.blog-author-wrapper {
  width: 25.8rem;
  justify-content: space-between;
  align-items: center;
}

.blog-detail-theme {
  margin-left: -11rem;
  height: 4.2rem;
  width: 17.4rem;
  border: 2px solid #4d7cff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-author,
.blog-detail-wrapper {
  max-width: 127rem;
  margin: 10.8rem auto 4rem;
  justify-content: space-between;
  align-items: center;
}

.blog-detail-wrapper {
  margin: 0 auto;
  position: relative;
}

.blog-list-top {
  margin-top: -1rem;
}

.blog-detail-btn {
  width: 100%;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 6px;
}

.blog-open-form {
  margin-bottom: 6rem;
}

.back-to-blog {
  align-items: center;
}

.arrow-back-blog {
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}

.detail-reviews-title {
  margin: 6rem auto;
  text-align: center;
}

.blog-detail-reviews {
  padding-bottom: 11rem;
}

.blog-blue-background {
  position: absolute;
  width: calc(100% + 20rem);
  width: 100%;
  height: 40.2rem;
  bottom: 0;
  left: 0;
  background-color: var(--purple);
  z-index: -2;
}

/* Blog media share */
.blog-detail-share {
  position: absolute;
  top: -4px;
  left: 14rem;
}

.blog-detail-media {
  margin-top: 7.8rem;
  width: 5.2rem;
  height: 14.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.back-button,
.share-button {
  display: none;
}

/* Blog detail review */
.detail-picture-1 {
  background: url('../assets/img/immobilien_1.jpg') no-repeat center;
}

.detail-picture-2 {
  background: url('../assets/img/teil-vollkasko.jpg') no-repeat center;
}

.detail-picture-3 {
  background: url('../assets/img/verkehrsschutz.jpg') no-repeat left;
}

@media only screen and (max-width: 1168px) and (min-width: 768px) {
  .blog-detail-share {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
  }

  .blog-detail-media {
    margin-top: 0;
    width: 16rem;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .blog-detail-share > a {
    margin-top: -4px;
  }
}

@media only screen and (max-width: 767px) {
  .detail-title-wrapper {
    padding: 0 2rem;
  }

  .blog-detail-background {
    max-width: 32rem;
    margin: 0 auto;
    height: 17.4rem;
  }

  .blog-author {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .blog-author-wrapper {
    order: 2;
  }

  .published-day {
    width: 100%;
    font-size: 1rem;
  }

  .blog-author-wrapper {
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .blog-author-wrapper span {
    width: 13rem;
    font-size: 12px;
    font-weight: 300;
  }

  .basic-text-part {
    margin-bottom: 4rem;
  }

  .blog-open-form {
    margin: -3rem auto 2rem;
  }

  .blog-blue-background {
    height: 15rem;
  }

  .detail-reviews-title {
    margin: 3.8rem 0 0;
    font-size: 18px;
    text-align: initial;
  }

  .detail-picture-wrapper {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  }

  .detail-review {
    background-color: #ffffff;
    width: 13.8rem;
    height: 13.8rem;
    overflow: hidden;
  }

  .detail-reading,
  .detail-reading-theme {
    font-size: 8px;
    padding: 0.6rem 1rem;
  }

  .detail-reading {
    top: 6px;
    right: 6px;
  }

  .detail-reading-theme {
    width: fit-content;
    min-width: 9rem;
    max-height: 2rem;
  }

  .detail-review-text {
    padding: 1.4rem 1rem 1rem;
    opacity: 0.7;
    height: 30%;
  }

  .detail-review-text h4,
  .detail-review-text p {
    font-size: 8px;
    line-height: 14px;
    white-space: nowrap;
  }

  div[class^='review-picture'].detail-picture {
    height: 64%;
    opacity: 0.7;
  }

  .blog-detail-reviews {
    padding-bottom: 0;
    max-width: 40rem;
    margin: 0 auto;
  }

  /* for center slick slider */
  .slick-center {
    height: 19.6rem;
    width: 19.6rem;
    margin-top: -2.8rem;
  }

  .slick-center .detail-review-text h4,
  .slick-center .detail-review-text p {
    white-space: normal;
  }

  .slick-center .detail-review-text {
    opacity: 1;
  }

  .slick-center div[class^='review-picture'].detail-picture {
    height: 70%;
    opacity: 1;
  }

  .slick-track {
    transition: all 0.3s ease-in;
  }

  .slick-slider {
    overflow: hidden;
    width: 100%;
  }

  .slick-list {
    margin: 0 -9px;
  }

  .item {
    padding: 0 9px;
  }

  .blog-detail-reviews .slick-track {
    padding: 4rem 0;
  }

  .blog-details .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .blog-details .slick-dots {
    bottom: 3rem;
  }

  .back-button,
  .share-button {
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    height: 3rem;
    width: 3rem;
    background-color: var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back-button span {
    transform: translateX(6px) rotate(-180deg);
  }

  .share-button {
    left: calc(100vw - 5rem);
  }

  .share-button img {
    width: 2rem;
    height: 2rem;
    transform: rotate(-180deg);
  }
}
